<a href="https://colab.research.google.com/github/as-arthur/Tremor-GO_YOUNG/blob/main/GO_YOUNG_working_with_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing

In [46]:
import pandas as pd
import glob
import os

# Load dataset

In [47]:
!git clone https://github.com/as-arthur/Tremor-GO_YOUNG.git

fatal: destination path 'Tremor-GO_YOUNG' already exists and is not an empty directory.

In [48]:
url = '/content/Tremor-GO_YOUNG/TrainingDataPD25'

In [49]:
train_activities_df = pd.read_csv(url + '/TrainActivities.csv')
train_activities_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342 entries, 0 to 341
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                342 non-null    int64
 1   Activity Type ID  342 non-null    int64
 2   Activity Type     342 non-null    object
 3   Started           276 non-null    object
 4   Finished          275 non-null    object
 5   Updated           342 non-null    object
 6   Subject           342 non-null    object
dtypes: int64(2), object(5)
memory usage: 18.8+ KB

In [50]:
train_activities_df['Started'] = pd.to_datetime(train_activities_df['Started'], format='%Y/%m/%d %H:%M', errors='coerce')
train_activities_df['Finished'] = pd.to_datetime(train_activities_df['Finished'], format='%Y/%m/%d %H:%M', errors='coerce')
train_activities_df['Updated'] = pd.to_datetime(train_activities_df['Updated'], format='%Y/%m/%d %H:%M', errors='coerce')
train_activities_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342 entries, 0 to 341
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                342 non-null    int64
 1   Activity Type ID  342 non-null    int64
 2   Activity Type     342 non-null    object
 3   Started           276 non-null    datetime64[ns]
 4   Finished          275 non-null    datetime64[ns]
 5   Updated           342 non-null    datetime64[ns]
 6   Subject           342 non-null    object
dtypes: datetime64[ns](3), int64(2), object(2)
memory usage: 18.8+ KB

## Accelerometer Files

In [51]:
data_header = ['activity_type_id', 'timestamp', 'x', 'y', 'z']

In [52]:
_1716_files = glob.glob(url + '/users_timeXYZ/users' + '/1716' + '/*.csv')
print(_1716_files)
len(_1716_files)

['/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/1716/user-acc_1716_2024-09-05T09_30_18.064+0100_7610.csv']

1

In [53]:
_2803_files = glob.glob(url + '/users_timeXYZ/users' + '/2803' + '/*.csv')
print(_2803_files)
len(_2803_files)

['/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2803/user-acc_2803_2024-09-05T16_51_54.979+0100_67284.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2803/user-acc_2803_2024-09-08T23_35_57.272+0100_83208.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2803/user-acc_2803_2024-09-05T16_52_16.750+0100_55542.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2803/user-acc_2803_2024-09-08T23_46_45.628+0100_60354.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2803/user-acc_2803_2024-09-05T17_34_57.121+0100_57088.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2803/user-acc_2803_2024-09-08T23_47_07.396+0100_94382.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2803/user-acc_2803_2024-09-05T16_49_50.582+0100_22391.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2803/user-acc_2803_2024-09-05T09_31_00.944+0100_57924.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2803/user-acc_2803_2024-09-05T16_49_18.191+0100_82999.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2803/user-acc_2803_2024-09-05T09_30_18.064+0100_7610.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2803/user-acc_2803_2024-09-05T16_54_49.592+0100_14102.csv']

11

In [54]:
_2804_files = glob.glob(url + '/users_timeXYZ/users' + '/2804' + '/*.csv')
print(_2804_files)
len(_2804_files )

['/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T12_07_49.773+0100_50098.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-01T22_30_52.164+0100_15246.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_29_15.955+0100_9429.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T12_07_28.038+0100_53661.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_58_55.697+0100_13059.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_48_44.755+0100_5752.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-01T22_26_21.713+0100_51578.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-01T22_25_40.061+0100_56045.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_59_39.184+0100_51829.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_55_19.726+0100_1598.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_58_12.262+0100_98393.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-01T22_39_34.811+0100_32165.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_33_08.368+0100_65805.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_31_00.695+0100_3173.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_35_27.598+0100_53914.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_49_06.507+0100_40291.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_34_00.882+0100_56263.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-01T22_38_09.220+0100_42723.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_56_23.343+0100_31125.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_59_17.522+0100_54071.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_38_21.163+0100_65020.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T12_06_02.889+0100_37787.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_50_55.179+0100_24303.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T12_08_54.902+0100_83696.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-05T09_55_24.378+0100_6563.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_57_06.833+0100_56865.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_33_00.248+0100_20352.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-01T22_38_52.026+0100_53630.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_57_50.418+0100_14597.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_51_43.215+0100_94235.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_58_33.942+0100_6786.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-01T22_27_45.075+0100_70883.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-01T22_36_23.523+0100_68820.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_54_36.056+0100_3794.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T12_00_22.868+0100_93915.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_46_56.044+0100_9675.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_53_52.562+0100_46297.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T12_12_51.738+0100_73878.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_46_34.326+0100_30580.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-05T10_18_29.150+0100_6328.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T12_04_17.548+0100_9194.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T12_00_44.607+0100_64269.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-01T22_30_09.276+0100_28982.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_44_03.097+0100_45743.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_44_24.839+0100_38446.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_42_14.491+0100_87278.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-01T22_31_13.624+0100_61716.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_50_11.684+0100_98956.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T12_09_38.357+0100_92630.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_50_33.341+0100_11477.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-05T10_17_24.417+0100_14878.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_40_05.933+0100_34969.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-01T22_38_30.607+0100_66964.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T12_02_11.492+0100_57099.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T12_02_54.912+0100_73862.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_42_36.166+0100_53921.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_40_27.640+0100_10091.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_36_33.090+0100_86174.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_52_25.976+0100_8165.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_47_39.438+0100_8857.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T12_10_00.095+0100_10763.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T12_12_08.102+0100_79779.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_37_59.257+0100_44613.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T12_07_06.417+0100_86728.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_31_22.452+0100_26173.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_54_57.892+0100_17226.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_40_49.506+0100_7639.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-01T22_32_16.538+0100_8507.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-01T22_35_01.129+0100_99986.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-01T22_25_07.752+0100_23724.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-01T22_31_55.058+0100_11525.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T12_01_06.215+0100_62678.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-01T22_27_26.142+0100_31846.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_43_19.589+0100_15806.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_36_54.781+0100_81581.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_49_28.316+0100_55836.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-01T22_39_13.449+0100_81024.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-01T22_36_45.062+0100_71964.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_48_01.148+0100_72215.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T12_09_16.691+0100_23612.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_55_41.483+0100_47563.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T12_10_41.898+0100_70865.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_28_54.226+0100_97351.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T12_08_33.231+0100_29113.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_48_22.964+0100_44042.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_54_14.396+0100_97324.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_44_46.611+0100_13350.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-05T10_18_07.476+0100_31818.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-01T22_35_40.546+0100_11741.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_51_39.857+0100_40214.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_43_41.442+0100_58201.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_45_51.020+0100_56617.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_32_05.527+0100_25746.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_53_09.186+0100_29813.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_32_27.141+0100_88568.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_56_45.193+0100_52494.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_57_28.635+0100_51830.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_36_11.203+0100_39753.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T12_02_33.195+0100_56677.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T12_01_49.658+0100_88612.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T12_04_39.253+0100_30151.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_39_43.865+0100_21225.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T12_12_29.930+0100_83476.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-01T22_28_09.889+0100_18183.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T12_01_27.932+0100_47330.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T12_05_01.052+0100_86814.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_35_49.498+0100_35928.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_33_51.835+0100_59615.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_45_29.251+0100_63551.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_46_12.674+0100_18032.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T12_00_01.202+0100_50076.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T12_11_24.696+0100_29004.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_49_49.980+0100_86767.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_41_31.217+0100_21930.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-01T22_37_06.350+0100_22358.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-01T22_26_43.341+0100_29879.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T12_11_46.327+0100_82172.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-01T22_27_04.667+0100_70154.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_32_38.424+0100_4968.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_37_37.445+0100_60206.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-01T22_36_02.158+0100_36578.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-01T22_37_47.723+0100_76275.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_29_37.566+0100_62728.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T12_08_11.412+0100_13625.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-01T22_28_27.653+0100_64158.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_28_32.491+0100_98532.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_28_10.640+0100_30754.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T12_06_44.670+0100_45144.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_41_52.795+0100_51242.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_35_05.989+0100_18648.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-01T22_39_56.251+0100_44045.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_47_17.717+0100_88987.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_51_16.813+0100_88637.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_27_27.606+0100_45098.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2804/user-acc_2804_2024-09-03T11_42_57.899+0100_51805.csv']

135

In [55]:
_2805_files = glob.glob(url + '/users_timeXYZ/users' + '/2805' + '/*.csv')
print(_2805_files)
len(_2804_files )

['/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2805/user-acc_2805_2024-09-05T09_25_38.866+0100_38506.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2805/user-acc_2805_2024-09-05T09_26_52.196+0100_1851.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2805/user-acc_2805_2024-09-01T22_53_40.517+0100_67691.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2805/user-acc_2805_2024-09-01T22_51_56.070+0100_14299.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2805/user-acc_2805_2024-09-01T22_54_02.224+0100_56762.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2805/user-acc_2805_2024-09-05T09_33_10.685+0100_85029.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2805/user-acc_2805_2024-09-03T13_19_24.635+0100_25638.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2805/user-acc_2805_2024-09-01T22_39_56.251+0100_44045.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2805/user-acc_2805_2024-09-01T22_50_04.006+0100_27581.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2805/user-acc_2805_2024-09-03T11_20_26.406+0100_94820.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2805/user-acc_2805_2024-09-01T22_52_17.788+0100_75870.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2805/user-acc_2805_2024-09-01T22_44_26.653+0100_98452.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2805/user-acc_2805_2024-09-03T11_18_01.743+0100_39581.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2805/user-acc_2805_2024-09-05T09_17_11.534+0100_86178.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2805/user-acc_2805_2024-09-05T09_28_47.007+0100_94241.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2805/user-acc_2805_2024-09-01T22_55_43.654+0100_73935.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2805/user-acc_2805_2024-09-05T09_29_49.124+0100_80088.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2805/user-acc_2805_2024-09-03T13_19_46.417+0100_12967.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2805/user-acc_2805_2024-09-01T23_01_49.600+0100_61050.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2805/user-acc_2805_2024-09-05T09_30_15.765+0100_55195.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2805/user-acc_2805_2024-09-01T22_45_09.344+0100_26558.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2805/user-acc_2805_2024-09-05T09_29_27.930+0100_21865.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2805/user-acc_2805_2024-09-01T22_58_12.260+0100_2845.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2805/user-acc_2805_2024-09-01T22_47_39.399+0100_88759.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2805/user-acc_2805_2024-09-01T22_52_39.163+0100_9925.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2805/user-acc_2805_2024-09-01T22_40_37.625+0100_50365.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2805/user-acc_2805_2024-09-01T22_59_58.734+0100_85024.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2805/user-acc_2805_2024-09-01T22_44_47.964+0100_68607.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2805/user-acc_2805_2024-09-05T09_26_25.299+0100_93682.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2805/user-acc_2805_2024-09-01T22_43_22.249+0100_17084.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2805/user-acc_2805_2024-09-01T22_41_11.625+0100_84033.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2805/user-acc_2805_2024-09-01T22_54_23.649+0100_57191.csv', '/content/Tremor-GO_YOUNG/TrainingDataPD25/users_timeXYZ/users/2805/user-acc_2805_2024-09-01T22_50_34.645+0100_16662.csv']

135

In [56]:
_2806_files = glob.glob(url + '/users_timeXYZ/users' + '/2806' + '/*.csv')
len(_2806_files )

29

In [57]:
_2807_files = glob.glob(url + '/users_timeXYZ/users' + '/2807' + '/*.csv')
len(_2807_files )

2154

In [58]:
_2808_files = glob.glob(url + '/users_timeXYZ/users' + '/2808' + '/*.csv')
len(_2808_files )

47

In [59]:
_2809_files = glob.glob(url + '/users_timeXYZ/users' + '/2809' + '/*.csv')
len(_2809_files )

42

In [60]:
_2810_files = glob.glob(url + '/users_timeXYZ/users' + '/2810' + '/*.csv')
len(_2810_files)

89

In [61]:
_2811_files = glob.glob(url + '/users_timeXYZ/users' + '/2811' + '/*.csv')
len(_2811_files)

44

In [62]:
_2812_files = glob.glob(url + '/users_timeXYZ/users' + '/2812' + '/*.csv')
len(_2812_files)

243

In [63]:
_2813_files = glob.glob(url + '/users_timeXYZ/users' + '/2813' + '/*.csv')
len(_2813_files)

136

In [64]:
_2814_files = glob.glob(url + '/users_timeXYZ/users' + '/2814' + '/*.csv')
len(_2814_files)

69

In [65]:
_2815_files = glob.glob(url + '/users_timeXYZ/users' + '/2815' + '/*.csv')
len(_2815_files)

114

In [66]:
_2816_files = glob.glob(url + '/users_timeXYZ/users' + '/2816' + '/*.csv')
len(_2816_files)

121

In [67]:
_2819_files = glob.glob(url + '/users_timeXYZ/users' + '/2819' + '/*.csv')
len(_2819_files)

4

In [68]:
_2830_files = glob.glob(url + '/users_timeXYZ/users' + '/2830' + '/*.csv')
len(_2830_files)

253

In [69]:
_38_files = glob.glob(url + '/users_timeXYZ/users' + '/38' + '/*.csv')
len(_38_files)

5

## Join accelerometer data per files

In [70]:
start = train_activities_df['Started'].reset_index(drop=True)
finish = train_activities_df['Finished'].reset_index(drop=True)

In [71]:
df_1716_files = pd.concat(map(lambda f: pd.read_csv(f, names=data_header), _1716_files), ignore_index=True)
df_1716_files['timestamp'] = pd.to_datetime(df_1716_files['timestamp'])
df_1716_files.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   activity_type_id  48 non-null     int64
 1   timestamp         48 non-null     datetime64[ns, UTC+01:00]
 2   x                 48 non-null     float64
 3   y                 48 non-null     float64
 4   z                 48 non-null     float64
dtypes: datetime64[ns, UTC+01:00](1), float64(3), int64(1)
memory usage: 2.0 KB

In [72]:
df_2803_files = pd.concat(map(lambda f: pd.read_csv(f, names=data_header), _2803_files), ignore_index=True)
df_2803_files['timestamp'] = pd.to_datetime(df_2803_files['timestamp'])
df_2803_files.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8838 entries, 0 to 8837
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   activity_type_id  8838 non-null   int64
 1   timestamp         8838 non-null   datetime64[ns, UTC+01:00]
 2   x                 8838 non-null   float64
 3   y                 8838 non-null   float64
 4   z                 8838 non-null   float64
dtypes: datetime64[ns, UTC+01:00](1), float64(3), int64(1)
memory usage: 345.4 KB

In [73]:
df_2804_files = pd.concat(map(lambda f: pd.read_csv(f, names=data_header), _2804_files), ignore_index=True)
df_2804_files['timestamp'] = pd.to_datetime(df_2804_files['timestamp'])
df_2804_files.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35277 entries, 0 to 35276
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   activity_type_id  35277 non-null  int64
 1   timestamp         35277 non-null  datetime64[ns, UTC+01:00]
 2   x                 35277 non-null  float64
 3   y                 35277 non-null  float64
 4   z                 35277 non-null  float64
dtypes: datetime64[ns, UTC+01:00](1), float64(3), int64(1)
memory usage: 1.3 MB

In [74]:
df_2805_files = pd.concat(map(lambda f: pd.read_csv(f, names=data_header), _2805_files), ignore_index=True)
df_2805_files['timestamp'] = pd.to_datetime(df_2805_files['timestamp'])
df_2805_files.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18781 entries, 0 to 18780
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   activity_type_id  18781 non-null  int64
 1   timestamp         18781 non-null  datetime64[ns, UTC+01:00]
 2   x                 18781 non-null  float64
 3   y                 18781 non-null  float64
 4   z                 18781 non-null  float64
dtypes: datetime64[ns, UTC+01:00](1), float64(3), int64(1)
memory usage: 733.8 KB

In [75]:
df_2806_files = pd.concat(map(lambda f: pd.read_csv(f, names=data_header), _2806_files), ignore_index=True)
df_2806_files['timestamp'] = pd.to_datetime(df_2806_files['timestamp'])
df_2806_files.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7363 entries, 0 to 7362
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   activity_type_id  7363 non-null   int64
 1   timestamp         7363 non-null   datetime64[ns, UTC+01:00]
 2   x                 7363 non-null   float64
 3   y                 7363 non-null   float64
 4   z                 7363 non-null   float64
dtypes: datetime64[ns, UTC+01:00](1), float64(3), int64(1)
memory usage: 287.7 KB

In [45]:
df_2807_files = pd.concat(map(lambda f: pd.read_csv(f, names=data_header), _2807_files), ignore_index=True)
df_2807_files['timestamp'] = pd.to_datetime(df_2807_files['timestamp'])
df_2807_files.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 862147 entries, 0 to 862146
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   activity_type_id  862147 non-null  int64
 1   timestamp         862147 non-null  datetime64[ns, UTC+01:00]
 2   x                 862147 non-null  float64
 3   y                 862147 non-null  float64
 4   z                 862147 non-null  float64
dtypes: datetime64[ns, UTC+01:00](1), float64(3), int64(1)
memory usage: 32.9 MB

In [76]:
df_2808_files = pd.concat(map(lambda f: pd.read_csv(f, names=data_header), _2808_files), ignore_index=True)
df_2808_files['timestamp'] = pd.to_datetime(df_2808_files['timestamp'])
df_2808_files.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11437 entries, 0 to 11436
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   activity_type_id  11437 non-null  int64
 1   timestamp         11437 non-null  datetime64[ns, UTC+01:00]
 2   x                 11437 non-null  float64
 3   y                 11437 non-null  float64
 4   z                 11437 non-null  float64
dtypes: datetime64[ns, UTC+01:00](1), float64(3), int64(1)
memory usage: 446.9 KB

In [77]:
df_2809_files = pd.concat(map(lambda f: pd.read_csv(f, names=data_header), _2809_files), ignore_index=True)
df_2809_files['timestamp'] = pd.to_datetime(df_2809_files['timestamp'])
df_2809_files.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9427 entries, 0 to 9426
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   activity_type_id  9427 non-null   int64
 1   timestamp         9427 non-null   datetime64[ns, UTC+01:00]
 2   x                 9427 non-null   float64
 3   y                 9427 non-null   float64
 4   z                 9427 non-null   float64
dtypes: datetime64[ns, UTC+01:00](1), float64(3), int64(1)
memory usage: 368.4 KB

In [78]:
df_2810_files = pd.concat(map(lambda f: pd.read_csv(f, names=data_header), _2810_files), ignore_index=True)
df_2810_files['timestamp'] = pd.to_datetime(df_2810_files['timestamp'])
df_2810_files.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117229 entries, 0 to 117228
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   activity_type_id  117229 non-null  int64
 1   timestamp         117229 non-null  datetime64[ns, UTC+01:00]
 2   x                 117229 non-null  float64
 3   y                 117229 non-null  float64
 4   z                 117229 non-null  float64
dtypes: datetime64[ns, UTC+01:00](1), float64(3), int64(1)
memory usage: 4.5 MB

In [79]:
df_2811_files = pd.concat(map(lambda f: pd.read_csv(f, names=data_header), _2811_files), ignore_index=True)
df_2811_files['timestamp'] = pd.to_datetime(df_2811_files['timestamp'])
df_2811_files.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43077 entries, 0 to 43076
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   activity_type_id  43077 non-null  int64
 1   timestamp         43077 non-null  datetime64[ns, UTC+01:00]
 2   x                 43077 non-null  float64
 3   y                 43077 non-null  float64
 4   z                 43077 non-null  float64
dtypes: datetime64[ns, UTC+01:00](1), float64(3), int64(1)
memory usage: 1.6 MB

In [80]:
df_2812_files = pd.concat(map(lambda f: pd.read_csv(f, names=data_header), _2812_files), ignore_index=True)
df_2812_files['timestamp'] = pd.to_datetime(df_2812_files['timestamp'])
df_2812_files.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319011 entries, 0 to 319010
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   activity_type_id  319011 non-null  int64
 1   timestamp         319011 non-null  datetime64[ns, UTC+01:00]
 2   x                 319011 non-null  float64
 3   y                 319011 non-null  float64
 4   z                 319011 non-null  float64
dtypes: datetime64[ns, UTC+01:00](1), float64(3), int64(1)
memory usage: 12.2 MB

In [81]:
df_2813_files = pd.concat(map(lambda f: pd.read_csv(f, names=data_header), _2813_files), ignore_index=True)
df_2813_files['timestamp'] = pd.to_datetime(df_2813_files['timestamp'])
df_2813_files.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171276 entries, 0 to 171275
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   activity_type_id  171276 non-null  int64
 1   timestamp         171276 non-null  datetime64[ns, UTC+01:00]
 2   x                 171276 non-null  float64
 3   y                 171276 non-null  float64
 4   z                 171276 non-null  float64
dtypes: datetime64[ns, UTC+01:00](1), float64(3), int64(1)
memory usage: 6.5 MB

In [82]:
df_2814_files = pd.concat(map(lambda f: pd.read_csv(f, names=data_header), _2814_files), ignore_index=True)
df_2814_files['timestamp'] = pd.to_datetime(df_2814_files['timestamp'])
df_2814_files.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62137 entries, 0 to 62136
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   activity_type_id  62137 non-null  int64
 1   timestamp         62137 non-null  datetime64[ns, UTC+01:00]
 2   x                 62137 non-null  float64
 3   y                 62137 non-null  float64
 4   z                 62137 non-null  float64
dtypes: datetime64[ns, UTC+01:00](1), float64(3), int64(1)
memory usage: 2.4 MB

In [83]:
df_2815_files = pd.concat(map(lambda f: pd.read_csv(f, names=data_header), _2815_files), ignore_index=True)
df_2815_files['timestamp'] = pd.to_datetime(df_2815_files['timestamp'])
df_2815_files.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152315 entries, 0 to 152314
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   activity_type_id  152315 non-null  int64
 1   timestamp         152315 non-null  datetime64[ns, UTC+01:00]
 2   x                 152315 non-null  float64
 3   y                 152315 non-null  float64
 4   z                 152315 non-null  float64
dtypes: datetime64[ns, UTC+01:00](1), float64(3), int64(1)
memory usage: 5.8 MB

In [84]:
df_2816_files = pd.concat(map(lambda f: pd.read_csv(f, names=data_header), _2816_files), ignore_index=True)
df_2816_files.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159815 entries, 0 to 159814
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   activity_type_id  159815 non-null  int64
 1   timestamp         159815 non-null  object
 2   x                 159815 non-null  float64
 3   y                 159815 non-null  float64
 4   z                 159815 non-null  float64
dtypes: float64(3), int64(1), object(1)
memory usage: 6.1+ MB

In [85]:
df_2819_files = pd.concat(map(lambda f: pd.read_csv(f, names=data_header), _2819_files), ignore_index=True)
df_2819_files.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5519 entries, 0 to 5518
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   activity_type_id  5519 non-null   int64
 1   timestamp         5519 non-null   object
 2   x                 5519 non-null   float64
 3   y                 5519 non-null   float64
 4   z                 5519 non-null   float64
dtypes: float64(3), int64(1), object(1)
memory usage: 215.7+ KB

In [86]:
df_2830_files = pd.concat(map(lambda f: pd.read_csv(f, names=data_header), _2830_files), ignore_index=True)
df_2830_files.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57745 entries, 0 to 57744
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   activity_type_id  57745 non-null  int64
 1   timestamp         57745 non-null  object
 2   x                 57745 non-null  float64
 3   y                 57745 non-null  float64
 4   z                 57745 non-null  float64
dtypes: float64(3), int64(1), object(1)
memory usage: 2.2+ MB

In [87]:
df_38_files = pd.concat(map(lambda f: pd.read_csv(f, names=data_header), _38_files), ignore_index=True)
df_38_files.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3884 entries, 0 to 3883
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   activity_type_id  3884 non-null   int64
 1   timestamp         3884 non-null   object
 2   x                 3884 non-null   float64
 3   y                 3884 non-null   float64
 4   z                 3884 non-null   float64
dtypes: float64(3), int64(1), object(1)
memory usage: 151.8+ KB

In [88]:
train_activities_df.head()

,ID,Activity Type ID,Activity Type,Started,Finished,Updated,Subject
0,1130251,2806,1 (FACING camera) Sit and stand,2024-09-02 06:16:00,2024-09-02 06:16:00,2024-09-02 06:16:00,U22
1,1130254,2807,2 (FACING camera) both hands SHAKING (sitting ...,2024-09-02 06:17:00,2024-09-02 06:17:00,2024-09-02 06:17:00,U22
2,1130257,2807,2 (FACING camera) both hands SHAKING (sitting ...,2024-09-02 06:18:00,2024-09-02 06:18:00,2024-09-02 06:18:00,U22
3,1130261,2806,1 (FACING camera) Sit and stand,2024-09-02 06:20:00,2024-09-02 06:20:00,2024-09-02 06:20:00,U22
4,1130292,2806,1 (FACING camera) Sit and stand,2024-09-02 06:42:00,2024-09-02 06:42:00,2024-09-02 06:42:00,U2

In [103]:
all_df  = pd.concat([df_2806_files, df_2807_files, df_2808_files, df_2809_files, df_2810_files, df_2811_files, df_2812_files, df_2813_files, df_2814_files, df_2815_files])
all_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1755419 entries, 0 to 152314
Data columns (total 5 columns):
 #   Column            Dtype
---  ------            -----
 0   activity_type_id  int64
 1   timestamp         datetime64[ns, UTC+01:00]
 2   x                 float64
 3   y                 float64
 4   z                 float64
dtypes: datetime64[ns, UTC+01:00](1), float64(3), int64(1)
memory usage: 80.4 MB

In [104]:
all_df['timestamp'] = pd.to_datetime(all_df['timestamp'])
all_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1755419 entries, 0 to 152314
Data columns (total 5 columns):
 #   Column            Dtype
---  ------            -----
 0   activity_type_id  int64
 1   timestamp         datetime64[ns, UTC+01:00]
 2   x                 float64
 3   y                 float64
 4   z                 float64
dtypes: datetime64[ns, UTC+01:00](1), float64(3), int64(1)
memory usage: 80.4 MB

# Cleaning Data

In [105]:
train_activities_df.columns = train_activities_df.columns.str.strip().str.lower().str.replace(' ', '_')

In [106]:
train_activities_df.dropna(inplace=True)
train_activities_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 275 entries, 0 to 341
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                275 non-null    int64
 1   activity_type_id  275 non-null    int64
 2   activity_type     275 non-null    object
 3   started           275 non-null    datetime64[ns]
 4   finished          275 non-null    datetime64[ns]
 5   updated           275 non-null    datetime64[ns]
 6   subject           275 non-null    object
dtypes: datetime64[ns](3), int64(2), object(2)
memory usage: 17.2+ KB

In [107]:
all_df.groupby('activity_type_id').agg(
    {'timestamp' : ['min', 'max']}
)

                                        timestamp  \
                                              min
activity_type_id
2806             2024-09-01 22:40:39.183000+01:00
2807             2024-09-05 09:31:03.823000+01:00
2808             2024-09-03 12:39:00.184000+01:00
2809             2024-09-03 13:01:10.250000+01:00
2810             2024-09-09 21:49:26.186000+01:00
2811             2024-09-10 20:54:29.654000+01:00
2812             2024-09-10 21:11:46.295000+01:00
2813             2024-09-11 09:14:52.249000+01:00
2814             2024-09-11 14:47:27.198000+01:00
2815             2024-09-08 23:37:03.817000+01:00


                                              max
activity_type_id
2806             2024-09-03 13:45:27.745000+01:00
2807             2024-09-10 20:54:29.516000+01:00
2808             2024-09-03 13:01:10.116000+01:00
2809             2024-09-03 13:19:41.088000+01:00
2810             2024-09-09 22:36:48.853000+01:00
2811             2024-09-10 21:11:46.209000+01:00
2812             2024-09-11 09:14:52.153000+01:00
2813             2024-09-11 14:47:27.106000+01:00
2814             2024-09-12 20:08:32.328000+01:00
2815             2024-09-12 20:27:20.257000+01:00

In [110]:
all_df['format_timestamp'] = all_df['timestamp'].dt.strftime('%Y-%m-%d %H:%M:%S')
all_df.head()

,activity_type_id,timestamp,x,y,z,format_timestamp
0,2806,2024-09-03 13:38:21.203000+01:00,0.857,-1.681,9.773,2024-09-03 13:38:21
1,2806,2024-09-03 13:38:21.339000+01:00,2.069,-0.900,9.275,2024-09-03 13:38:21
2,2806,2024-09-03 13:38:21.470000+01:00,2.238,-1.033,10.124,2024-09-03 13:38:21
3,2806,2024-09-03 13:38:21.602000+01:00,2.310,-1.086,9.507,2024-09-03 13:38:21
4,2806,2024-09-03 13:38:21.737000+01:00,2.381,-1.453,9.727,2024-09-03 13:38:21

In [145]:
# Konversi datetime
all_df['format_timestamp'] = pd.to_datetime(all_df['format_timestamp'])
train_activities_df['started'] = pd.to_datetime(train_activities_df['started'])
train_activities_df['finished'] = pd.to_datetime(train_activities_df['finished'])

# Siapkan list hasil dan id yang tidak ditemukan
filtered_df_list = []
missing_row_ids = []

# Iterasi per baris aktivitas
for i, row in train_activities_df.iterrows():
    start = row['started']
    finish = row['finished']
    activity_type_id = row['activity_type_id']
    activity_row_id = row['id']

    # Tambahkan margin waktu agar tetap menangkap data walau selisihnya kecil
    margin = pd.Timedelta(seconds=1)
    mask = all_df['format_timestamp'].between(start - margin, finish + margin)

    # Assign filtered data to temp_df
    temp_df = all_df.loc[mask].copy()  # gunakan .copy() untuk menghindari SettingWithCopyWarning

    if not temp_df.empty:
        # Tambahkan info aktivitas agar bisa dilacak
        temp_df.loc[:, 'activity_type_id'] = activity_type_id
        temp_df.loc[:, 'activity_row_id'] = activity_row_id
        filtered_df_list.append(temp_df)
    else:
        missing_row_ids.append(activity_row_id)

# Gabungkan semua hasil
if filtered_df_list:
    result_df = pd.concat(filtered_df_list, ignore_index=True)
else:
    result_df = pd.DataFrame()  # fallback jika tidak ada yang cocok

# Laporan
print("Jumlah aktivitas berhasil dicocokkan:", result_df['activity_row_id'].nunique() if not result_df.empty else 0)
print("Jumlah baris sensor akhir:", len(result_df))
print("ID aktivitas yang tidak ditemukan data sensornya:", missing_row_ids)

Jumlah aktivitas berhasil dicocokkan: 14
Jumlah baris sensor akhir: 1390
ID aktivitas yang tidak ditemukan data sensornya: [1130251, 1130254, 1130257, 1130261, 1130292, 1130293, 1130294, 1130306, 1136872, 1136878, 1136882, 1136887, 1136888, 1136889, 1136890, 1136896, 1136898, 1136900, 1136903, 1136904, 1136906, 1136908, 1136909, 1136910, 1136911, 1136913, 1136915, 1136916, 1136917, 1136918, 1136927, 1136936, 1136945, 1136950, 1136966, 1136975, 1136976, 1136978, 1136980, 1136981, 1136983, 1136986, 1136987, 1136989, 1136991, 1136992, 1136993, 1136994, 1136995, 1137001, 1137002, 1137003, 1137010, 1137021, 1137022, 1137023, 1137025, 1137026, 1137027, 1137037, 1137038, 1137039, 1137052, 1137053, 1137054, 1137055, 1137057, 1137058, 1137059, 1137060, 1137061, 1137062, 1137063, 1137064, 1137065, 1137066, 1137067, 1137068, 1137069, 1137070, 1137071, 1137072, 1137073, 1137074, 1137118, 1137119, 1137120, 1137121, 1137122, 1137123, 1137167, 1137168, 1137169, 1137170, 1137171, 1137172, 1137173, 1137174, 1137175, 1137176, 1137177, 1137178, 1137179, 1137180, 1137181, 1137182, 1137183, 1137184, 1137185, 1137186, 1137187, 1137188, 1137189, 1137190, 1137191, 1137192, 1137193, 1137194, 1137246, 1137247, 1137248, 1137249, 1137250, 1137252, 1137253, 1137254, 1137255, 1137256, 1137257, 1137258, 1137259, 1137260, 1137261, 1137263, 1137264, 1137266, 1137267, 1137268, 1137269, 1137270, 1137271, 1137272, 1137273, 1137274, 1137275, 1137276, 1137278, 1137324, 1137327, 1137328, 1137329, 1137330, 1137332, 1137333, 1137334, 1137335, 1137336, 1137337, 1137338, 1137339, 1137340, 1137341, 1137342, 1137343, 1137344, 1137345, 1137346, 1137347, 1137348, 1137349, 1137350, 1137351, 1137352, 1137353, 1137354, 1160419, 1160420, 1160421, 1160422, 1160423, 1160424, 1160425, 1160426, 1160427, 1160428, 1160429, 1160430, 1160431, 1160432, 1160433, 1160434, 1160435, 1160436, 1160437, 1160438, 1160439, 1160440, 1160441, 1160442, 1160443, 1160444, 1160445, 1160446, 1160501, 1160502, 1160504, 1160505, 1160506, 1160507, 1160508, 1160509, 1160510, 1160511, 1160512, 1160513, 1160514, 1160515, 1160516, 1160517, 1160518, 1160519, 1160520, 1160521, 1160522, 1160523, 1160524, 1160525, 1160526, 1160527, 1160528, 1160529, 1160543, 1164154, 1164155, 1164156, 1164157, 1164158, 1164159, 1164160, 1164161, 1164162, 1164163, 1164164, 1164165, 1164166, 1164167, 1164168, 1164169, 1164170, 1164171, 1164172, 1164173, 1164174, 1164175, 1164176, 1164177, 1164178, 1164187, 1164217, 1164218, 1164219]

In [137]:
result_df = result_df.drop_duplicates(subset=['timestamp', 'x', 'y', 'z'])

In [138]:
all_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1755419 entries, 0 to 152314
Data columns (total 6 columns):
 #   Column            Dtype
---  ------            -----
 0   activity_type_id  int64
 1   timestamp         datetime64[ns, UTC+01:00]
 2   x                 float64
 3   y                 float64
 4   z                 float64
 5   format_timestamp  datetime64[ns]
dtypes: datetime64[ns, UTC+01:00](1), datetime64[ns](1), float64(3), int64(1)
memory usage: 93.7 MB

In [139]:
result_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 763 entries, 0 to 1221
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   activity_type_id  763 non-null    int64
 1   timestamp         763 non-null    datetime64[ns, UTC+01:00]
 2   x                 763 non-null    float64
 3   y                 763 non-null    float64
 4   z                 763 non-null    float64
 5   format_timestamp  763 non-null    datetime64[ns]
 6   activity_row_id   763 non-null    int64
dtypes: datetime64[ns, UTC+01:00](1), datetime64[ns](1), float64(3), int64(2)
memory usage: 47.7 KB

In [131]:
result_df.describe(include='all')

,activity_type_id,timestamp,x,y,z,format_timestamp
count,1461989.0,1461989,1.461989e+06,1.461989e+06,1.461989e+06,1461989
mean,2806.0,2024-09-08 04:03:19.526899968+01:00,-8.708360e-02,-2.206613e-01,5.900912e+00,2024-09-08 04:03:19.030646272
min,2806.0,2024-09-03 12:39:00.184000+01:00,-2.457200e+01,-7.223000e+01,-5.935100e+01,2024-09-03 12:39:00
25%,2806.0,2024-09-05 22:29:42.404999936+01:00,-6.260000e-01,-7.060000e-01,7.800000e-01,2024-09-05 22:29:42
50%,2806.0,2024-09-08 23:44:40.182000128+01:00,2.830000e-01,-1.630000e-01,9.771000e+00,2024-09-08 23:44:40
75%,2806.0,2024-09-09 23:32:15.254000128+01:00,1.149000e+00,1.834000e+00,1.008700e+01,2024-09-09 23:32:15
max,2806.0,2024-09-10 22:59:26.520000+01:00,3.458800e+01,3.296000e+01,4.433300e+01,2024-09-10 22:59:26
std,0.0,NaN,3.229181e+00,3.981484e+00,6.416244e+00,NaN

In [132]:
result_df.nunique()

activity_type_id          1
timestamp           1461703
x                     18955
y                     19009
z                     20365
format_timestamp     120202
dtype: int64

In [129]:
print(result_df.duplicated(subset=['timestamp', 'x', 'y', 'z']).sum())

0

In [134]:
train_activities_df.duplicated().sum()

np.int64(0)